---
set_charge_limit:
  name: Set charge power limit
  description: >
    Set the maximum battery charging rate. DEPRECATED: Use the
    number.battery_charge_power entity instead. This only works for Gen1
    inverters and will be removed in a future version.
  fields:
    device_id:
      name: Inverter
      description: The inverter to control
      required: true
      selector:
        device:
          integration: givenergy_local
    power:
      name: Power
      description: >
        The value here will be rounded down to the nearest 81W, which is the
        step size supported by the inverter. The exception is at the top end
        of the scale, where 2430W and 2600W are the highest supported values.
      required: true
      selector:
        number:
          min: 0
          max: 2600
          unit_of_measurement: W
set_discharge_limit:
  name: Set discharge power limit
  description: >
    Set the maximum battery discharge rate. DEPRECATED: Use the
    number.battery_discharge_power entity instead. This only works for Gen1
    inverters and will be removed in a future version.
  fields:
    device_id:
      name: Inverter
      description: The inverter to control
      required: true
      selector:
        device:
          integration: givenergy_local
    power:
      name: Power
      description: >
        The value here will be rounded down to the nearest 81W, which is the
        step size supported by the inverter. The exception is at the top end
        of the scale, where 2430W and 2600W are the highest supported values.
      required: true
      selector:
        number:
          min: 0
          max: 2600
          unit_of_measurement: W
activate_mode_eco:
  name: Activate eco mode
  description: >
    This mode will dynamically charge and discharge your batteries to minimise
    your import from the grid
  fields:
    device_id:
      name: Device
      description: The inverter to control
      required: true
      selector:
        device:
          integration: givenergy_local
activate_mode_timed_discharge:
  name: Activate timed discharge mode
  description: >
    Outside of the timed period this mode will charge and discharge your batteries to minimise your import from the grid.
    During the timed period it will discharge battery at full power. Discharge will stop if Battery SOC Reserve is reached.
  fields:
    device_id:
      name: Device
      description: Inverter to control
      required: true
      selector:
        device:
          integration: givenergy_local
    start_time:
      name: Start time
      description: Start time for discharging
      required: true
      selector:
        time:
    end_time:
      name: End time
      description: End time for discharging
      required: true
      selector:
        time:
    shallow_charge:
      name: Battery SOC Reserve
      description: >
        Stop discharging at or below this limit
      required: true
      selector:
        number:
          min: 4
          max: 100
          unit_of_measurement: "%"
activate_mode_timed_export:
  name: Activate timed export mode
  description: >
    Outside of the timed period this mode will send any excess PV to the grid, and NOT discharge the battery to meet demand.
    During the timed period it will discharge battery at full power. Discharge will stop if Battery SOC Reserve is reached.
  fields:
    device_id:
      name: Device
      description: The inverter to control
      required: true
      selector:
        device:
          integration: givenergy_local
    start_time:
      name: Start time
      description: Start time for exporting
      required: true
      selector:
        time:
    end_time:
      name: End time
      description: End time for exporting
      required: true
      selector:
        time:
    shallow_charge:
      name: Battery SOC Reserve
      description: >
        Stop discharging at or below this limit
      required: true
      selector:
        number:
          min: 4
          max: 100
          unit_of_measurement: "%"
enable_timed_charge:
  name: Enable timed charging
  description: >
    This mode will force charge your battery from the grid during a
    period you define. Note that this operates in parallel with the
    other battery modes.
  fields:
    device_id:
      name: Device
      description: Inverter to control
      required: true
      selector:
        device:
          integration: givenergy_local
    start_time:
      name: Start time
      description: >
        Start time for charging.
        If left undefined, the existing start time will be used.
      selector:
        time:
    end_time:
      name: End time
      description: >
        End time for charging.
        If left undefined, the existing end time will be used.
      selector:
        time:
    charge_target:
      name: Charge target
      description: >
        Battery SOC to target during charging.
        If left undefined, the existing charge target will be used.
      selector:
        number:
          min: 4
          max: 100
          unit_of_measurement: "%"
disable_timed_charge:
  name: Disable timed charging
  description: >
    Disables timed charging.
  fields:
    device_id:
      name: Device
      description: Inverter to control
      required: true
      selector:
        device:
          integration: givenergy_local
