---
name: Unit tests

on:
  pull_request:
  push:
    branches: [master]
  schedule:
    - cron: "0 0 * * *"

jobs:
  test:
    runs-on: "ubuntu-latest"
    name: Run tests
    steps:
      - name: Check out code from GitHub
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install requirements
        run: python3 -m pip install -r requirements.txt -r requirements_test.txt

      - name: Run tests
        run: |
          pytest \
            -qq \
            --timeout=9 \
            --durations=10 \
            -n auto \
            --cov custom_components.givenergy_local \
            -o console_output_style=count \
            -p no:sugar \
            tests
